<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card forward">
                <div class="card-header card-header-primary">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 ">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="card-title ">Forwarded Messages</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--User-->
                <mat-table #table [dataSource]="dataSource" class="shadow-lg" *ngIf="user">
                    <!-- Name Column -->
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="campaign">
                        <mat-header-cell *matHeaderCellDef> Campaign Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.campaign_name}} </mat-cell>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="sentFrom">
                        <mat-header-cell *matHeaderCellDef> Sent From </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.org_name}} </mat-cell>
                    </ng-container>

                    <!-- Mobile number Column -->
                    <ng-container matColumnDef="receivedDate">
                        <mat-header-cell *matHeaderCellDef> Receieved Date </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.received_date}} </mat-cell>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button class="btn btn-info open" (click)="openForward(element)">Open</button>
                            <!-- <a (click)="edit_low(row) " style="color:#1d8b4e; cursor:pointer;">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </a>
                            <a (click)="delete_low(row)" style="color:red; cursor:pointer;">
                                <mat-icon aria-label="Delete">delete</mat-icon>
                            </a>
                            <mat-slide-toggle [checked]="row.status" class="toggle"  [color]="color" (change)="toggle(row,$event)"></mat-slide-toggle> -->
                            </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumnsUser"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumnsUser;"></mat-row>
                </mat-table>

                    <!--Admin-->
                    <mat-table #table [dataSource]="dataSource" class="shadow-lg" *ngIf="admin" [class.isMobile]="isMobile">
                        <!-- Name Column -->
                        <ng-container matColumnDef="position">
                            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                        </ng-container>
    
                        <!-- Name Column -->
                        <ng-container matColumnDef="campaign">
                            <mat-header-cell mat-header-cell *matHeaderCellDef> Campaign Name </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.campaign_name}} </mat-cell>
                        </ng-container>
    
                        <!-- Email Column -->
                        <ng-container matColumnDef="sentFrom">
                            <mat-header-cell *matHeaderCellDef> Sent From Org</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.sentFrom}} </mat-cell>
                        </ng-container>
    
                        <ng-container matColumnDef="sentTo">
                            <mat-header-cell *matHeaderCellDef> Sent To Org </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.org_name}} </mat-cell>
                        </ng-container>
    
                        <!-- Mobile number Column -->
                        <ng-container matColumnDef="receivedDate">
                            <mat-header-cell *matHeaderCellDef> Receieved Date </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.received_date}} </mat-cell>
                        </ng-container>
    
                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <button class="btn btn-info open" (click)="openForward(element)">Open</button>
                                <!-- <a (click)="edit_low(row) " style="color:#1d8b4e; cursor:pointer;">
                                    <mat-icon aria-label="Edit">edit</mat-icon>
                                </a>
                                <a (click)="delete_low(row)" style="color:red; cursor:pointer;">
                                    <mat-icon aria-label="Delete">delete</mat-icon>
                                </a>
                                <mat-slide-toggle [checked]="row.status" class="toggle"  [color]="color" (change)="toggle(row,$event)"></mat-slide-toggle> -->
                                </mat-cell>
                        </ng-container>
    
                        <mat-header-row *matHeaderRowDef="displayedColumnsAdmin"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsAdmin;"></mat-row>
                    </mat-table>
                    <mat-paginator [length]="100"
                    [pageSize]="6" [pageSizeOptions]="[6, 15, 25, 100]" showFirstLastButtons></mat-paginator>
                
            </div>
        </div>
    </div>
</div>