<!-- <div mat-dialog-content id="sending">
        <div class="h3">Deleted Successfully</div>
        <button class="btn btn-success" (click)="dialogRef.close()">OK</button>
</div> -->
<!-- <h1 mat-dialog-title>Delete Request</h1>
<div mat-dialog-content>
    <div class="row container">
        <div class="col-md-12">
            <p>Are you sure you want to Delete ?
        </div>
    </div>
    <div class="row default-btn1">
        <div class="col-md-12 default-btn1">
            <button type="button" class="btn btn-default bg-success pull-right m-3 default-btn1"
                (click)="confirm()">Confirm</button>
            <button type="button" class="btn btn-default bg-danger pull-right m-3  default-btn1" (click)="dialogRef.close()">Cancel</button>
        </div>
    </div>
</div> -->
<h1 mat-dialog-title style="text-align:center;">{{action}} Request</h1>
<div mat-dialog-content>
    
    <div class="row">
        <div class="col-md-12">
           <p style="text-align:center;">Are you sure you want to {{action}} ? </p>
       </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <button type="button" class="btn btn-default bg-success pull-right m-3" *ngIf="action == 'Forward'" (click)="forwardMessage()">Confirm</button>       
            <button type="button" class="btn btn-default bg-success pull-right m-3" *ngIf="action == 'Delete'" (click)="deleteForward()">Confirm</button>       
            <button type="button" class="btn btn-default bg-danger pull-right m-3" mat-dialog-close>Cancel</button>   
        </div>
    </div>
</div>