video {
    width: 100%;
    height: auto;
  }
  
  .close-icon {
    position: absolute;
    top: 8%;
    right: 7%;
    z-index: 99;
    transform: translate(50%, -50%);
    background:#fff;
  }

  .mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    background: #000 !important;
    color: #d2d2d2;
}

.margin_p{
margin-bottom: 0.2rem;
font-weight:400;
font-size: 15px;
}

.mtop[_ngcontent-cyg-c17] {
  margin-top: 2%;
  padding: 1% 0% 0% 3%;
}

.content_padding{
  padding: 1% 0% 0% 3%;
}

.font_weight{
  font-weight: 500;
}
  
  // #video-viewport {
  //     position: absolute;
  //     top: 0;
  //     left:0;
  //     overflow: hidden;
  //     z-index: -1; /* for accessing the video by click */
  // }