<div class="container">
  <div class="row" style="margin: -62px;">
    <div class="col-md-4 offset-md-4">
      <div class="logo">
        <img src="../../assets/icons/jkf-icon.png" style="justify-content: center;overflow:hidden;width:22%;margin: 0% 8% 0% 15%;"/>
        <div class="vl">
        </div>
        <h5 style="position:absolute; overflow:hidden; width: 100%; margin:-13% 44.5%;font-weight: 400;">An Online</h5>
        <h5 style="position:absolute; overflow:hidden; width: 100%; margin:-8.5% 44.5%;font-weight: 400;">Messaging Portal</h5>
      </div>
      <!-- <form [formGroup]="signinForm" (ngSubmit)="signin()">
        <div class="page-wrap height-100 mat-bg-primary">
          <div class="session-form-hold"> -->
      <!-- <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar> -->
      <mat-card style="border-radius:0px;width: 92%;margin-left: 4%; height:auto">
        <mat-card-content>
          <div class="text-center pb-1">
            <h4 class="text-dark">Reset Password Here</h4>
          </div>
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <p>Email: {{email}}</p>
            <mat-form-field>
              <input matInput placeholder="New password" formControlName="password" required pattern type="password" [ngClass]="">
              <mat-error *ngIf="password.hasError('password') && !password.hasError('minlength')">
                Please enter Password
              </mat-error>
              <mat-error *ngIf="password.hasError('required')">
                Password is <strong>must be at least 8 characters and at least 1 uppercase,lowercase,digit,special characters</strong>
              </mat-error>
              <!-- <mat-error *ngIf="password.hasError('required')">
                Password <strong></strong>
              </mat-error> -->
               <!-- <mat-error *ngIf="password.hasError('pattern')">
                Password <strong>must be </strong>
              </mat-error>  -->
              <!-- <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
                <mat-error *ngIf="f.password.errors.minlength">Password must be at least 8 characters</mat-error>
                <mat-error *ngIf="f.password.errors.pattern">Password must be at least 1 uppercase,lowercase,digit,special characters </mat-error>
            </mat-error> -->
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Confirm password" formControlName="confirmPassword"
                [errorStateMatcher]="matcher" type="password">
              <mat-error *ngIf="myForm.hasError('notSame')">
                Passwords do not match
              </mat-error>
            </mat-form-field>
            <div class="text-center pb-1">
              <button class="btn" id="submit" [disabled]="!myForm.valid" type="submit">Reset</button>
              <a routerLink="/">
                <button class="btn btn-danger" mat-dialog-close style="border: 2px solid #d9534f;padding: 12px;">Cancel</button>
              </a>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<footer class="footer"
  style="position: fixed;z-index: 2;bottom: 0%;width: 100%; overflow: hidden;height: 10%; background-color: #1d8b4e;">
  <div class="container-fluid" style="color:#dae8f7;font-weight:400;font-size:12px;">
    <nav>
      <ul>
        <li>
          <a href="#" target="_blank">
            @Copyright 2020 Socratus Foundation for Collective Wisdom. All rights reserved.
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>