.container{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    z-index: 1000;
    top: 60px;
    right: 0px;
    width: 40%;
    height: 160px;
    background-color: white;
    color: black;
    border-radius: 12px;
}

.btn{
    position: absolute;
    top:0px;
    right: 0px;
    padding: 10px;
    background-color: white;
    color: black;
}

.container .main .row .col-md-4 p{
    font-weight: 500;
    opacity: 1;
}
.container .main .row .col-md-8 p{
    opacity: 0.7;
}
.main{
    margin-top: -20px;
    margin-left: 5px;
    margin-bottom: -30px;
}