.middel-line{
    width: 45%;
    margin: -15px 9%;
    background-color: #1c3d76;
}

.custom_btn{
    border-radius: 25px !important;
    padding: 12px 18px;
    border: 1px solid #1f467f;
    background-color: #aea3da5c;
    box-shadow: none;
    color:#1f467f
}


.custom_btn:hover{
    border-radius: 25px !important;
    padding: 12px 18px;
    border: 1px solid #1f467f;
    background-color: #aea3da5c;
    box-shadow: none;
    color:#1f467f
}
.custom_btn:focus{
    border-radius: 25px !important;
    padding: 12px 18px;
    border: 1px solid #1f467f;
    background-color: #aea3da5c;
    box-shadow: none;
    color:#1f467f
}

.p_label{
    font-size: 14px;
    line-height: 1.42857;
    color: #AAAAAA;
    font-weight: 400;
    margin: 0px 5px;
    padding-left:5%;
}

.p_position{
    position: absolute;
    top: 25%;
    left: 18.5%;
    /* width: 100%; */
    text-align: left;
}
