<!-- <mat-card>
    <mat-card-content> -->
      <div class="text-center pb-1">
        <h5 class="text-dark">Set password for SMTP Config</h5>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <!-- <p>Password: </p> -->
        <mat-form-field>
          <input matInput placeholder="New password" formControlName="password" required pattern type="password" [ngClass]="">
          <mat-error *ngIf="password.hasError('password') && !password.hasError('minlength')">
            Please enter Password
          </mat-error>
          <mat-error *ngIf="password.hasError('required')">
            Password is <strong>must be at least 8 characters and at least 1 uppercase,lowercase,digit,special characters</strong>
          </mat-error>
       
        </mat-form-field>

        <mat-form-field style="margin-top:3%;">
          <input matInput placeholder="Confirm password" formControlName="confirmPassword"
            [errorStateMatcher]="matcher" type="password">
          <mat-error *ngIf="myForm.hasError('notSame')">
            Passwords do not match
          </mat-error>
        </mat-form-field>
        <div class="text-center pb-1">
          <button class="btn btn-info pull-right" [disabled]="!myForm.valid" type="submit">save</button>
          <a>
            <button mat-button class="btn pull-right" mat-dialog-close>Cancel</button>
          </a>
        </div>
      </form>
    <!-- </mat-card-content>
  </mat-card> -->