.container{
    margin-top: 135px;
  }
  .text-dark{
    padding: 4%;
  }
  .mat-form-field-label-wrapper {
    border:0.2px solid #1f467f !important;
  }
  
  .vl{
    border-left: 1px solid gray;
    height: 14%;
    position: absolute;
    left: 61%;
    overflow:hidden;
    margin: -15.3%;
  }
  .footer ul li a{
    text-transform: none;
  }
  h6, .h6 {
    text-transform: none;
  }
  @font-face {
    font-family: machinegunk;
    src: url('assets/css/GeorginademoRegular-gxxyE.ttf');
  }
  h5,h4{
    color: #1d8b4e !important;
    font-family: 'Montserrat', sans-serif;
  }
  #submit{
    background-color: #1d8b4e;
    color: white;
    margin: 5px;
    border: 2px solid #1d8b4e;
    padding: 12px;
  }
  #submit:hover{
    background-color: white !important;
    color: #1d8b4e !important;
    border: 2px solid #1d8b4e !important;
  }
  .btn-danger:hover{
    background-color: white !important;
    color: #d9534f !important;
    border: 2px solid #d9534f !important;
  }