<h1 mat-dialog-title>{{header}}</h1>
<div mat-dialog-content>
    <div class="row container">
        <div class="col-md-12">
            <p>Are you sure you want to Logout ?
        </div>
    </div>
    <div class="row default-btn1">
        <div class="col-md-12 default-btn1">
            <button type="button" class="btn btn-default bg-success pull-right m-3 default-btn1"
                (click)="dashboard()">Confirm</button>
            <button type="button" class="btn btn-default bg-danger pull-right m-3  default-btn1" mat-dialog-close>Cancel</button>
        </div>
    </div>
</div>