.card-title{
    margin: 5px 12px !important;
    color: black;
}

.blur_text{
    color: transparent;
text-shadow: 0 0 8px #000;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 92px;
  width: 38%;
}
.card{
  width: 80% !important;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    table{
      width: 100%;
    }
  }
@supports (-ms-ime-align: auto) {
    table{
      width: 100%;
    }
  }
  