<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <div class="row">
              <div class="col-md-6">
                <h4 class="card-title">Mobile Users</h4>
              </div>
            </div>
          </div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Name Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let row" > {{row.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <!-- <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef style="padding-left:51px !important;"> Name </th>
              <td mat-cell *matCellDef="let row" style="padding-left:51px !important;"> {{row.name}} </td>
            </ng-container> -->

            <!-- Email Column -->
            <ng-container matColumnDef="email" *ngIf="blur_email">
              <th mat-header-cell *matHeaderCellDef style="padding-left:51px !important;"> Email </th>
              <td mat-cell *matCellDef="let row"  style="padding-left:51px !important;"> {{row.maskemail}} </td>
            </ng-container>

            <ng-container matColumnDef="email" *ngIf="clear_email">
              <th mat-header-cell *matHeaderCellDef style="padding-left:51px !important;"> Email </th>
              <td mat-cell *matCellDef="let row" style="padding-left:51px !important;"  > {{row.email}} </td>
            </ng-container>

            <!-- Mobile number Column -->
            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef> Gender </th>
              <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
            </ng-container>

            <!-- Role Column -->
            <ng-container matColumnDef="age">
              <th mat-header-cell *matHeaderCellDef> Age </th>
              <td mat-cell *matCellDef="let row"> {{row.age}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>