// mat-card.example-card.mat-card {
//     width: 30%;
//     margin: 50px 35%;
// }
// .mat-card-header .mat-card-title {
//     margin-bottom: 16px;
//     font-size: 37px;
// }
// mat-card-title.mat-card-title {
//     margin: 0px 122px;
// }
// .example-form {
//     min-width: 150px;
//     max-width: 500px;
//     width: 100%;
//   }
  
//   .example-full-width {
//     width: 84%;
//     margin: 7px 8%;
//   }
//   button.mat-raised-button.mat-primary {
//     margin: 0px 141px;
//     padding: 1px 39px;
//     margin-block-start: -7px;
//   }
//   .mat-card-actions, .mat-card-content, .mat-card-subtitle {
//     display: block;
//     margin-bottom:!important;
// }

// h3{
//     color: blue;
//     text-align: center;
//     font-family: arial;
// }
// .containetr{
//     border:1px solid silver;
//     width: 50%;
//     height: auto;
//     margin: 20px 25%;
// }
// .form-group{
//     margin: 0px 21%;   
// }
// button{
//     margin: 10px 0%;
// }
.container{
  margin-top: 135px;
}
// .text{
  
//   color: #1d8b4e !important;
//   padding: 5%;
// }
@font-face {
  font-family: machinegunk;
  src: url('assets/css/GeorginademoRegular-gxxyE.ttf');
}
h5,h4{
  color: #1d8b4e !important;
  // font-family: machinegunk;
  font-family: 'Montserrat', sans-serif;
}
.mat-form-field-label-wrapper {
  border:0.2px solid #1d8b4e !important;
}

.vl{
  border-left: 1px solid gray;
  height: 14%;
  position: absolute;
  left: 61%;
  overflow:hidden;
  margin: -15.3%;
}
.footer ul li a{
  text-transform: none;
}
h6, .h6 {
  text-transform: none;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .container_card{
    width: 350px !important;
  }
    
}
@supports (-ms-ime-align: auto) {
    .container_card{
    width: 350px !important;
  }
}
.asterisk_input:after {
  content: " *";
  color: #e32;
  position: absolute;
  margin: 0px 0px 0px 0px;
  font-size: 25px;
  padding: 0 0 0 0;
  left: 0%;
  top:32%;
  }
  #submit{
    background-color: #1d8b4e;
    color: white;
    border: 2px solid #1d8b4e;
  }
  #submit:hover{
    background-color: white !important;
    color: #1d8b4e !important;
    border: 2px solid #1d8b4e !important;
  }
  p:hover{
    text-decoration: underline;
  }

  .logo{
    margin-bottom: 2%;
  }