<div class="col-lg-12">
    <!-- <mat-spinner id="spinner" *ngIf="showSpinner" [diameter]="35" style="margin-left: 130px;"></mat-spinner> -->
    <h1 mat-dialog-title>{{dialogTitle}}</h1>
    <div mat-dialog-content class="cardbox">
        <form [formGroup]="myForm" (ngSubmit)="saveOrg()">
            <div class="row container">
                <div class="col-md-12">
                    <mat-form-field style="padding: 0% 11%;">
                        <mat-label>Organization</mat-label>
                        <mat-select [(value)]="selectedOrgType" formControlName="name"  required>
                          <mat-option *ngFor="let item of name" [value]="item.org_name" >
                            {{item.org_name}}
                          </mat-option>
                        </mat-select>
                        <mat-error>This field is mandatory.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row container">
                <div class="col-md-12">
                    <mat-form-field style="padding: 0% 11%;">
                        <mat-label>States</mat-label>
                        <mat-select [(value)]="selectedStates" formControlName="states"  multiple required>
                                
                                    <mat-option *ngFor="let item of stateList"  [value]="item.state_name">
                                        {{item.state_name}}
                                    </mat-option>
                                
                        </mat-select>
                        <mat-error>This field is mandatory.</mat-error> 
                    </mat-form-field>
                </div>
            </div>
            <div class="row container">
                <div class="col-md-12">
                    
                        <mat-checkbox color="primary" formControlName="sms" [(ngModel)]="sms">SMS:
                            <div *ngFor="let item of states" style="display: inline-block;">
                            <div *ngIf="selectedOrgType == item.org">
                                {{item.sms}} users
                            </div>
                        </div>
                    </mat-checkbox>    
                    
                </div>
            </div>
            <div class="row container">
                <div class="col-md-12">
                    
                        <mat-checkbox color="primary" formControlName="whatsapp" [(ngModel)]="whatsapp">Whatsapp: 
                            <div *ngFor="let item of states" style="display: inline-block;">
                                <div *ngIf="selectedOrgType == item.org"> 
                                    {{item.whatsapp}} users
                                </div>
                            </div>
                        </mat-checkbox>
                        
                    
                </div>
            </div>
                 <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default bg-success pull-right m-3" [disabled]="validate()" (click)="saveOrg()">Save</button>
                        <button type="button" class="btn btn-default bg-danger pull-right m-3" mat-dialog-close>Cancel</button>   
                    </div>
                </div>
            </form>
    </div>
    </div>