
<div mat-dialog-content id="sending">
    <div *ngIf="sending">
        <div class="h3">Message Has Been Sent Successfully</div>
        <button class="btn btn-success" (click)="dialogRef.close()">OK</button>
    </div>
    <div *ngIf="!sending">
  <div class="h3">Sending Messages</div>
  <div class="h4">Please wait....</div>
  </div>
  
</div>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->