#first{
    margin-top: 60px;
}
.mat-column-states {
  flex: 0 0 30% !important;
}
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
}

/* focused color */
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #1d8b4e;
}

/* floating label color */
.mat-form-field-appearance-outline.mat-focused .mat-form-field-label { 
    color: #1d8b4e; 
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #1d8b4e;
}
  mat-form-field .mat-form-field-flex{ 
      background-color: white; 
      border-radius: 0.5rem !important;
    }
    mat-form-field{
        background: white;
    }

    .mat-table {
      /* overflow: auto; */
      font-family: 'Montserrat', sans-serif;
    }

  .example{
      max-width: 400px;
      max-height: 40px;
      margin:40px 125px;
  }
  .example-full-width{
      margin: 30px 60px 30px 125px;
      max-width: 890px;
      height: 40px;
  }
  .send{
    background: #1d8b4e;
    border-radius: 2.5rem !important;
    padding: 13px;
    border: 2px solid #1d8b4e;
  }
  .send:hover{
    background: white;
    color: #1d8b4e;
    border-radius: 2.5rem !important;
    padding: 13px;
  }
  .place{
      margin: 5px 30px -20px 20px;
      max-width: 970px;
  }
  #sending{
    height: 200px;
    width: 300px;
    text-align: center;
  }
  #sending .h3{
    padding: 20px;
  }

  @media(max-width:840px){
    .example{
      transition: 1s all ease-in;
      max-width: 400px;
      max-height: 40px;
      margin:40px 30px;
  }
  .example-full-width{
    transition: 1s all ease-in;
    margin: 30px 30px 30px 30px;
    max-width: 970px;
    height: 40px;
  }
    .mat-header-row {
      display: flex;
    }
  }
  @media(max-width:500px){
    .mat-row { 
      flex-direction: column;
      align-items: center;
      padding: 8px 44px;
    }
  }