
<div class="container" style="text-align: center; margin-top: 60px; font-size: 20px;">
    <p>Upload Excel Sheet File</p>
    <p>Make Sure columns are exactly as shown below</p>

</div>

<!-- <div class="row"> -->
<div class="container" style="text-align: center;">
    <img src="/assets/img/excel.jpg" alt="sample image" class="img-fluid" style="height: 250px; width: 800px;border: 2px solid #1d8b4e;">
    <div class="pull-left" style="margin:2% 0% 0% 12%;" id="template">

        <p>Download a Template File</p>
        <button class="btn">Download Excel Template</button>
    </div>
</div><br>

<div class="pull-right" style="margin:100px 200px 0px 0px;text-align: right;">
    <form>
        <!-- <mat-form-field>
            <input matInput type="file" name="file" accept=".xlsx, .xls" formControlName="excel" (change)="onFileUpload($event)">
        </mat-form-field>
        <button class="btn" type="submit">Upload</button> -->
        <!-- <div class="input-group mb-3">
            <div class="custom-file">
                
              <input #myInput type="file" class="custom-file-input" 
              id="customFile" accept=".xlsx, .xls" (change)="onFileUpload($event)">
                <label class="custom-file-label" for="customFile" style="overflow: hidden; height: 28px;text-align: left;">{{fileName}}</label>
                    
            </div>
          </div> -->
          
          <div class="upload-btn-wrapper">
            <button class="btn" id="choose">
            <input #myInput type="file" name="myfile" accept=".xlsx, .xls" (change)="onFileUpload($event)"/>Choose a File</button>
          </div>
          <p style="max-width: 280px;max-height: 20px;overflow: hidden;">{{fileName}}</p>
          <button class="btn upload" [disabled]="!uploaded" type="submit" (click)="saveExcel()"><mat-icon>cloud_upload</mat-icon> Upload</button>
    </form>
</div>



