
<div class="container" style="text-align: center; margin: 60px 0px 40px 0px; font-size: 20px;">
    <p>Upload Excel Sheet File</p>
    <p>Make Sure columns are exactly as shown below</p>

</div>
 
<!-- <div class="row"> -->
<div class="row container" style="margin: auto;justify-content: center;">
    <img src="../../assets/img/example-sheet.png" alt="sample image" class="img-fluid" style="border: 2px solid #1d8b4e; margin-bottom: 30px;">
    <div id="template" style="text-align: center;">

            <p>Download a Template File</p>
        <a class="btn" href="../../assets/Example-Template.xlsx" download>Download Excel Template</a>
           
    </div>
</div><br>
<!-- git -->
<div class="pull-right" style="margin:30px 100px 0px 0px;text-align: right;">
    <form>
          <div class="upload-btn-wrapper">
            <button class="btn" id="choose">
            <input #myInput type="file" name="myfile" accept=".xlsx, .xls" (change)="onFileUpload($event)"/>Choose a File</button>
          </div>
          <p style="max-width: 280px;max-height: 20px;overflow: hidden;">{{fileName}}</p>
          <button class="btn upload" [disabled]="!uploaded" type="submit" (click)="saveExcel()"><mat-icon>cloud_upload</mat-icon> Upload
            <span *ngIf="showSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
    </form>
</div>



