<div class="main-content">
    <div style="position:relative;">
        <div class="row add_new_video"  *ngIf="show_uploader">
            <div class="col-lg-12 col-md-6 video_btn">
                <button type="button" class="btn btn-default bg-Info  pull-right m-3 uploaad_btn_widh"
                    style="background-color: #1f467f; border-radius: 2.5rem;" (click)="addUser()">Add New +
                </button>
            </div>
        </div>

        <mat-tab-group (selectedTabChange)="cat_nametypeChanged($event)">
            <mat-tab style="font-weight: 500; font-size: 18px;" *ngFor="let tab of tabs ; let index = index "
                [label]="tab.cat_name">
                <div class="col-12 cheight" *ngFor="let sub_name of sub_namesReference">
                    <h4 style="font-size: 16px; font-weight: 400; margin-left: 3.8%;" *ngIf="showsubcategory">
                        {{sub_name.sub_name}}</h4>
                    <hr class="middel-line">
                    <p *ngIf="sub_name.video.length == 0 && showsubcategory" class="title-content">Videos Not Available
                    </p>
                    <ngx-slick-carousel *ngIf="showsubcategory" style="padding: 2% 3% 0% 3%; width: 100%;" class="carousel carouselpadding"
                        #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let videos of sub_name.video" class="slide" style="width: 266px !important;">
                            <mat-card class="example-card" style="padding: 0% 0% 0% 0%; margin:0px 8px;">
                                <div class="image_size image_width" (click)="open_video_dialog(videos,true)"
                                    style="padding: 0% 0% 0% 0%; margin:0px 0px; cursor: pointer; height: 258px;background: white;">
                                    <!-- <img class="imgwdt" src="../../assets/img/Defaultthumbnail.jpg"
                                    s hidden="{{videos.thumbLoaded}}"> -->
                                    <img class="imgwdt" src="{{global_url+videos.thumbnail}}"
                                        style=" width: 100%;margin: auto;display:{{videos.thumbLoaded?block:none}}"
                                        (load)="this.thumLoaded(videos)">
                                    <!-- {{videos.action}} -->
                                </div>
                                <mat-card-content class="carder" style="padding-top: 3%; padding-bottom: 6%;">
                                    <div class="col-md-10 cardht" style="height: 16px;">
                                        <p class="content-title content">
                                            <crystal-text-show-less [maxLength]="30" [data]="videos.title"
                                                [showTail]="true"> </crystal-text-show-less>
                                            </p>
                                    </div>
                                
                                <mat-card-actions>
                                
                                    <div class="actionbtn social-links">
                                        <p class="Iconbtn " (click)="open_edit_dialog(videos,true)">
                                            <mat-icon class="icon" style="color:#1c3d76; cursor: pointer;padding-top: 12%;">
                                                more_vert
                                            </mat-icon>
                                            {{videos.action}}
                                        </p>
                                    </div>
                                </mat-card-actions>
                            </mat-card-content>
                            </mat-card>

                        </div>
                    </ngx-slick-carousel>
                    <ngx-spinner bdOpacity=0.5 bdColor="#1c3d76" size="medium" color="#fff"
                        type="ball-clip-rotate" [fullScreen]="false">
                        <p style="color: white"> Loading... </p>
                    </ngx-spinner>
                </div>
            </mat-tab>
        </mat-tab-group>