<!-- <div class="col-lg-12"> -->
<div class="col-md-12">
  <ngx-spinner bdOpacity=0.5 bdColor="#dae8f7" size="medium" color="#1c3d76"
  type="ball-clip-rotate" [fullScreen]="false">
  <p style="color: #1c3d76;justify-content: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Video is uploading to <br> Youtube-Channel, Please wait... </p>
</ngx-spinner>
<!-- <h1 mat-dialog-title>{{dialogTitle}}</h1> -->
<div mat-dialog-content>
  <h4 class="upload">Upload Your Video!</h4>
  <div class="progress form-group" *ngIf="progress > 0">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
    </div>
  </div>
  <form action="api/upload" method="post" enctype="multipart/form-data" [formGroup]="form">
    <div class="file-field md-form">
      <label class="custom-file-upload">
        Upload Video Here
        <td><input type="file" name="video" formControlName="video" fileread="video" accept=".mp4" (change)="onFileChange($event)" requireFile>
        </td>
        <p  style="color:red;font-size:12px;" *ngIf="show_video_format">Video Format is not supported</p>
      </label>
    </div>
    <div class="file-field md-form">
      <label class="custom-file-upload">
        Upload Thumbnail Here
        <th><input type="file" name="image" formControlName="image" fileread="image" accept=".jpg,.png" (change)="onImageChange($event)" requireFile>
        </th>
        <p  style="color:red;font-size:12px;" *ngIf="show_img_format">Image Format is not supported</p>
      </label>
    </div>
    <div class="row">
      
      <mat-slide-toggle [checked]="banner"  [color]="color" (change)="toggle($event)" 
      style="margin-top:2%;margin-left:2%;width: 50%;">{{most}}
      </mat-slide-toggle>
    </div>
    <mat-form-field class="">
      <input formControlName="title" name="title" matInput placeholder="Title" required>
      <mat-error>This field is mandatory.</mat-error>
    </mat-form-field>
    <mat-form-field class="">
      <textarea formControlName="description" name="description" matInput placeholder="Description" required></textarea>
      <mat-error>This field is mandatory.</mat-error>
    </mat-form-field>
    <mat-form-field class="">
      <input formControlName="author" name="author" matInput placeholder="Author" required>
     
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>Select Category</mat-label>
      <mat-select (selectionChange)="cat_nametypeChanged($event)" required>
        <mat-option *ngFor="let cat_name of cat_namesReference" [value]="cat_name.cat_id">
          {{cat_name.cat_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="position:relative;" class="">
      <mat-label>Select Sub Category</mat-label>
      <mat-select formControlName="subcat"  name="subcat"  (selectionChange)="sub_nametypeChanged($event)" required>
        <mat-option *ngFor="let sub_name of sub_namesReference" [value]="sub_name.sub_id">
          {{sub_name.sub_name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="validate_subcategory">Sub Category is not present, please add from manage category.</mat-error>
      <!-- <p  style="position:absolute;top:80%;color:red;font-size:12px;padding-top:2%">Sub Category is not present, please add from manage category.</p> -->
      <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
    </mat-form-field>
    

    <button type="submit" class="btn btn-default bg-success  pull-right m-3" [disabled]="btn_disabled" (click)="onSubmit() " color="warn">
      Upload
    </button>
    <button type="button" class="btn btn-default bg-danger pull-right m-3" mat-dialog-close>Cancel</button>
  </form>
</div>
</div>
  <!--  </div> <input type="file" name="video" (change)="onFileChange($event)" /> 
              <button type="submit">Upload</button>       -->