.section1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overide_card {
    width: 500px;
    height:230px;
  margin: 0 auto;

  }

  .font_size_p{
    font-size:20px;
    color: #1f467f;
  }

  .padding_content{
    padding-top:10%;
  }

  .padding_content1{
    padding-top:8%;
  }

  .padding_content2{
      padding-top:2%;
  }

  .btn_class{
    width:30%;  
    background: #1f467f;
    color: #fff;
    border-radius: 20px;
    padding:0.5%;
  }