<div class="container">
    <div class="row card-container">
        <div class="col-3 card-box">
            <br><h1>{{total_likes}}</h1>
                <h3>Total Likes</h3>
            </div>
        <div class="col-3 card-box">
               <br><h1>{{total_dislikes}}</h1>
                <h3>Total Dislikes</h3>
            </div>
        <div class="col-3 card-box">
            <br><h1>{{total_viewes}}</h1>
                <h3>Total Views</h3>
        </div>
        <div class="col-3 card-box">
            <br><h1>{{total_shares}}</h1>
                <h3>Total Shares</h3>
        </div>
        <div class="col-3 card-box">
            <br><h1>{{total_downloads}}</h1>
                <h3>Total Downloads</h3>
        </div>
        <div class="col-3 card-box">
            <br><h1>{{total_users}}</h1>
                <h3>Total Users</h3>
        </div>
    </div>
</div>