<div class="container">
  <div class="row" style="margin: -62px;">
    <div class="col-md-4 offset-md-4">
      <div class="logo">
        <img src="../../assets/icons/jkf-icon.png" style="justify-content: center;overflow:hidden;width:22%;margin: 0% 8% 0% 15%;"/>
        <div class="vl">
        </div>
        <h5 style="position:absolute; overflow:hidden; width: 100%; margin:-13% 44.5%;font-weight: 400;">An Online</h5>
        <h5 style="position:absolute; overflow:hidden; width: 100%; margin:-8.5% 44.5%;font-weight: 400;">Messaging Portal</h5>
      </div>
      <mat-card style="border-radius:0px;width: 92%;margin-left: 4%; height:300px">
        <mat-card-content>
          <div class="text-center pb-1" style="color: #1d8b4e">
            <h4 class="text-dark1">Please check your e-mail
            </h4>
            <h4 class="text-dark1">and click on the link to
            </h4>
            <h4 class="text-dark1">reset the password.
            </h4>
          </div>
          <div class="text-center pb-1">
            <button class="btn" (click)="signin()">Sign in
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<footer class="footer"
  style="position: fixed;z-index: 2;bottom: 0%;width: 100%; overflow: hidden;height: 10%; background-color: #1d8b4e;">
  <div class="container-fluid" style="color:#dae8f7;font-weight:400;font-size:12px;">
    <nav>
      <ul>
        <li>
          <a href="#">
            @Copyright 2020 Socratus Foundation for Collective Wisdom. All rights reserved.
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>