<h1 mat-dialog-title>{{dialogTitle}}</h1>
<div mat-dialog-content class="cardbox">


            <div class="row container">
               <div class="col-md-12">
                    <mat-form-field>
                        <input matInput placeholder="Organization Name"  [(ngModel)]="org_name" type="text" required>
                    </mat-form-field>
                </div>
            </div>
            
          
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default bg-success pull-right m-3" *ngIf="save_state_btn" (click)="saveState()">Save</button>
                    <button type="button" class="btn btn-default bg-success pull-right m-3" *ngIf="update_state_btn" (click)="updateState()">Update</button>        
                    <button type="button" class="btn btn-default bg-danger pull-right m-3" mat-dialog-close>Cancel</button>   
                </div>
            </div>
</div>
<!-- </div> -->