<div class="main-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div class="row">
                            <div class="col-lg-12 col-md-6 ">
                                <button type="button" class="btn btn-default bg-info pull-right m-3"
                                    (click)="adduser()">Add
                                    Organization</button>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="card-title">Organization</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
                        <!-- Name Column -->
                        <ng-container matColumnDef="position">
                            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </mat-cell>
                        </ng-container>
                        <!-- Name Column -->
                        <ng-container matColumnDef="org_name">
                            <mat-header-cell *matHeaderCellDef  class="card-container"> Name </mat-header-cell>
                            <mat-cell *matCellDef="let row"  class="card-container"> {{row.org_name}} </mat-cell>
                        </ng-container>
                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef  class="card-container">Actions </mat-header-cell>
                            <mat-cell *matCellDef="let row"  class="card-container">
                                <a (click)="edit_low(row) " style="color:#1d8b4e; cursor:pointer;">
                                    <mat-icon aria-label="Edit">edit</mat-icon>
                                </a>
                                <a (click)="delete_low(row)" style="color:red; cursor:pointer;">
                                    <mat-icon aria-label="Delete">delete</mat-icon>
                                </a>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>